@keyframes stretch{
    0%{
        aspect-ratio: 2/1;
    }

    50%{
        aspect-ratio: 6/1;
    }

    100%{
        aspect-ratio: 2/1;
    }
}

.main{
    display: flex;
    width: 100%;
    height: 100%;
    align-items:center;
    justify-content: space-between;
    color: red;
    background-color: yellow;
    flex-direction: column;

    img{
        width: 100%;
        animation-name: stretch;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}